.calculator {
  
  border: 0.5px solid black;

  
  display: flex;
  flex-direction: column;
  
}

.calculator-body {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}

.button {
  width:90px;
height:90px;
  
background-color:white;
color:#242424;
outline:none;
border:.2px solid #242424;
font-size:large;



}

.output {
  background-color: #242424;
  color: white;
  text-align: right;
  height: 30px;
  padding: 10px 10px;
font-size:large;
}
.all-clear-button{
background-color:red;
color:white;
}
.equal-button{
width:190px;
}
