.calculator {
  
  border: 0.5px solid black;
  
  display: flex;
  flex-direction: column;
  
}

.calculator-body {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.button {
  width:80px;
height:80px;
  
background-color:#242424;
color:white;
outline:none;
border:.2px solid white;
border-radius:5px;


}

.output {
  background-color: #242424;
  color: white;
  text-align: right;
  height: 30px;
  padding: 10px 10px;
font-size:large;
}
.all-clear-button{
background-color:red;
color:white;
}
.equal-button{
width:160px;
}
